#entries .entry .title {
    font-weight:   bold;
}

#entries .entry .date {
    margin-left:   1.0em;
}

#entries .entry .location {
    margin-left:   1.0em;
    font-style:    italic;
}

#entries .entry .description {
    margin-top:    0.5em;
    margin-left:   1.0em;
    margin-bottom: 1.0em;
}

#entries .entry .calendar {
    padding-left:  0.3em;
    padding-right: 0.3em;
}

.cal-oscon {
    background-color: #9A000B;
    color:            #FFFFFF;
}

.cal-data {
    background-color: #C70933;
    color:            #FFFFFF;
}

.cal-java {
    background-color: #501375;
    color:            #FFFFFF;
}